{
  "extends": [
    "canonical",
    "canonical/flowtype"
  ],
  "root": true,
  "rules": {
    "import/max-dependencies": 0,
    "lines-around-comment": 0,
    "no-warning-comments": 0,
    "unicorn/prevent-abbreviations": 0
  }
}
